//#include "winres.h"

1 VERSIONINFO
 FILEVERSION 8,1,5717,0
 PRODUCTVERSION 8,1,5717,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "Jeroen Frijters"
            VALUE "FileDescription", "IKVM.NET OpenJDK Library for .NET"
            VALUE "FileVersion", "8.1.5717.0"
            VALUE "InternalName", "ikvm-native"
            VALUE "LegalCopyright", "Copyright (C) 2002-2011 Jeroen Frijters"
            VALUE "OriginalFilename", "ikvm-native-win32-x86.dll"
            VALUE "ProductName", "IKVM.NET"
            VALUE "ProductVersion", "8.1.5717.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
